header {
    color: #4aaaa5;
    background: #ffffff;
    font-size: 30px;
    padding: 10px;
    border: 1px solid purple;
    /* margin: 15px; */
    box-align: center;
}

#name {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    /* font-size: 25px; */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid blue;
    height: 125px;
}

#links {
    float: right;
    border: 1px solid red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 125px;
    /* font-size: 20px; */
}

h1 {
    border: 1px solid orange;
    width: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    background-color: #ffffff;
    width: 960px;
    box-align: center;
    margin: 0 auto;
    
}
section {
    clear:both;
    width: 960px;
    background-color:#ffffff;
    box-align: center;
    margin: 15px auto;
    border: 1px solid palevioletred;




}


.test {
    width: 960px;
    height: 200px;
    background-color: #ffffff;
    margin: 0 auto;
    box-align: center;
    border: 3px solid #bbbbbb;
}





img {
    float:left;
    border: 3px solid #4aaaa5;
    margin: 15px;
} 

.container {
    width: 960px;
    height: 200px;
    background-color: #ffffff;
    margin: 15px auto;
    box-align: center;
    border: 3px solid #dddddd;
}

footer {
    clear: both;
    width: 960px;
    height: 50px;
    background-color: #666666;
    /* margin: 15px auto; */
    box-align: center;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    color: #dddddd;
    padding: 10px;
    font-size: 16px;
}