header {
    color: teal;
    font-weight: bold;
    background: lightgrey;
    font-size: 30px;
    padding: 20px;
    border: 5px solid teal;
    margin: 15px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: darkgrey;
}

#links {
    text-align: right;
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.25;
    
}

h3 {
    font-size: 25px;
    color: teal;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 5px solid teal;
    margin: 15px;
}

.box-set {
    position: relative;
    height: 200px;
    background: white;
    margin: 15px;
    border: 5px solid teal;
    color:black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 30px;
  }
  
  .box-1 {
    width: 150px;
    height: 150px;
    background:#4aaaa5;
    border: 2px solid black;
    margin: 5px;
    float: left;
  }

  .box-2 {
    width: 150px;
    height: 150px;
    background:#4aaaa5;
    border: 2px solid black;
    margin: 5px;
    float: left;
  }

  .box-3 {
    width: 150px;
    height: 150px;
    background: #4aaaa5;
    border: 2px solid black;
    margin: 5px;
    float: left;
  }

  .box-4 {
    width: 150px;
    height: 150px;
    background: #4aaaa5;
    border: 2px solid black;
    margin: 5px;
    float: left;
  }

footer {
    clear: both;
    color: teal;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin: 15px;
    font-weight: bold;
    background: lightgrey;
    border: 5px solid teal;
}